<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}
    <p>
        <a href="https://stormy-fjord-15098.herokuapp.com">Heroku example</a>
    </p>
    {{> footer}}
  </body>
</html>